
.collection-slider{
  position: relative;
  width: 100%;
  height: 600px;
  color: rgb(68, 67, 67);

  @include flex-center;
  flex-direction: column;
  z-index: 1;
  @include laptop-query{
  height: 600px;
  }

}
.slider-card{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  &__list{
    width: 100%;
    height: 100%;
    display: none;
  }
  &__list-item{
    margin: 0 auto;
    @include flex-center;
    flex-direction: column;
    width: 100%;
    height: 126px;
    text-transform: capitalize;
    @include font-family-normal;
    position: absolute;
    margin: $m-base*23 auto;
    padding: 1.9rem;
      background-color:rgba(255,255,255,.7) ;
      text-align: center;
      @include tablet-query{
        width: 50%;
        border-radius:7px;
        margin-left:$m-base*2;
        margin-top: 8.5rem auto;

      }
      @include laptop-query{
        width: 50%;
        border-radius: 7px;
        margin-left:$m-base*5;
        margin-top: 11.5rem auto;

      }
  }
&__list-item button{
  background-color: transparent;
  @include paperStyleShadow;
  border:1px solid $c-banana-sim-black;
  padding: .21rem;
  width: 150px;
  border-radius: 5px;
}
}
.slider__card__list-img{
  width: 100%;
  height: 597px;
  object-fit: cover;
  @include laptop-query{
    height: 600px;
  }
}
.slider-card__list-title{
  color: $c-dark-green;
}
.slider-card__list-link{
text-decoration: none;
color:$c-banana-sim-black;
background-color: transparent;
}
.show-img{
  margin: 0 auto;
  display: block;
}
.radio-container{
  width:200px;
  height: 30px;
  margin: 0 auto;
  @include flex-around;
  padding: 1rem;
  position: absolute;
  top: 89%;
  @include paperStyleShadow;
  border: none;
  background-color:rgba(244, 223, 223, 0.6);
  bottom: 0;
  @include laptop-query{
    width: 400px;
    height:60px;
    top: 88%;
  }
 
}
.radio-container__btn{
  height:11px;
  width: 11px;
  border-radius: 50%;
  border:  1px soild rgb(255,255,255);
  border: none;
  cursor: pointer;
  &:hover{
    background-color: $c-dark-green;
  }
  @include laptop-query{
    height:18px;
    width: 18px;
  }
}

.collection__navigation{
  width: 100%;
  @include flex-space-bteween;
  position: absolute;

}
.collection__prev-btn,
.collection__next-btn {
  background: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
@include flex-center;
  margin: $m-base;
  filter: invert(100%) sepia(125%) saturate(88%) hue-rotate(18deg)
brightness(228%) contrast(100%);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.products{
  margin: $m-base*2 auto;
  width: 70%;
  position: relative;
  display: flex;
  &__title{
    @include font-family-normal;
    font-weight: $fw-bold;
    margin: 0;
    font-size: rem;
    color: $c-dark-green;
    &::before{
      content: "";
      position: absolute;
      background-color: $c-dark-green;
      display: block;
      height: 1px;
      width: 100%;
       }
    &::after{
      content: "";
      position: absolute;
      background-color: $c-dark-green;
      display: block;
      height: 1px;
      width: 100%;
    
    }
  }
  &__discription{
    @include laptop-query{
    }
  }
}
.pure{
    width: 100%;
    height: 100%;
    flex-direction: column;

    &__title{
        font-size: 1rem;
        padding: $p-base;
        color:$c-dark-green;
        text-align: center;
        @include font-family-normal;
        
    }
}

.product-card{
        &__img{
            width: 70%;
            margin: $m-base auto;
            @include font-family-normal;
            @include tablet-query{
              width: 36%;
            }
            @include laptop-query{
                width: 40%;
                height: 79%;
            } 
            @include laptop-l-query{
              width: 20%;
              height: 79%;
          }          
        &-container{
          @include font-family-normal;
            margin: 0 auto;
            width: 100%;
            border: 1px solid #0e0e0e;
            @include laptop-query{
                width: 100%;
                height: 79%;
            }
            
        }
        }
        &__container{
            width: 100%;
            @include font-family-normal;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
        }
        &__copy{
            @include font-family-normal;
            width: 100%;
            text-align: center;
            padding:  $p-base $p-base*2;
            color: $c-light-body;
            font-size: 0.91rem;
            font-weight: $fw-normal;
            text-align: center;
            color: $c-light-body;
            letter-spacing: 0.5px;
            @include tablet-query{
              width: 60%;
              margin: 0 auto;
            }
          }
    
    &__table {
      width: 50%;
      height: 40%;
      border: 1px solid black;
      padding: $p-base;
      text-align: center;
      margin-top: 1rem;
      color: #565657;
      @include tablet-query{
        width: 30%;
        height: 20%;
      }
      @include laptop-l-query{
        width: 14%;
        height: 79%;
    }
      &-row{
      }
      &-data{
      }
    //   width: 70%;
    //   display: flex;
    //     @include font-family-normal;
    //     border: 1px solid black;

    //     text-transform: capitalize;
    
    //  }
    //  &__table-data{

    //   border: 1px solid black;
    // }
    }
}
.counter-section {
  @include font-family-normal;
    margin: $m-base;
    @include flex-center;
    flex-direction: column;
    @include laptop-query {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.counter {
    width: 36%;
    border-radius: 10px;
    height: 70px;
    border: 1px solid $c-Light-grayish-blue;
    background-color: $c-Light-grayish-blue;
    @include laptop-query {
        width: 20%;
        margin: 0 21rem 0 0;
    }
    @include laptop-l-query {
        width: 20%;
        margin: 0 29rem 0 0;
    }

    &__container {
      width: 31%;
      height: 38px;
      border-radius: 10px;
      border: 1px solid $c-Light-grayish-blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $c-dark-green;
        @include flex-around;

        @include tablet-query{
          width:13%;
        }
        @include laptop-query{
          width:8%;
        }
    }
    &__text{
      width: 22%;
      background-color: $c-dark-green;
      border: none;
      text-align: center;
      color: $c-light-rose;
      font-weight: $fw-bold;
        
    }
    &__btn-plus{
          width: 12%;
          border: none;
          background-color: transparent;
          filter: invert(100%) sepia(125%) saturate(88%) hue-rotate(18deg)
          brightness(228%) contrast(100%);
          &:hover {
              opacity: 0.5;
          }
    }
    &__btn-minus {
      width: 12%;
        border: none;
        @include flex-center;
        background-color: transparent;
        filter: invert(100%) sepia(125%) saturate(88%) hue-rotate(18deg)
        brightness(228%) contrast(100%);
        &:hover {
            opacity: 0.5;
        }
    }
}

.cart {
    background-color: $c-banana-mania;
    border: none;
    margin: 1rem 0;
    width: 77%;
    height: 38px;
    display: flex;
    justify-content: center;
    margin-left: 6px;
    align-items: center;
    border-radius: 10px;

    &:hover {
        opacity: 0.5;
    }
    @include tablet-query {
      margin: 0;
      width: 22%;
      margin-left: 12px;

  }
    @include laptop-query {
        margin: 0;
        width: 14%;
        margin-left: 14px;

    }
    @include laptop-l-query {
        width: 10%;
    }
}
.more-discription {
  width: 90%;
  margin: auto;
}
.main-details{
  max-width: 600px;
  margin: auto;
  padding-bottom: $p-base;
  border-bottom: 1px solid rgba(145, 148, 161, 0.5);
}
.details {
  max-width: 600px;
  margin: auto;
  border-bottom: 1px solid rgba(145, 148, 161, 0.5);
}

.summary {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
  list-style:none;
  text-transform: uppercase;
  @include font-family-normal;
  color: $c-dark-green;
  padding: $p-base*1.6;
  &:hover{
      color: $c-banana-sim-black;
  }
    &::after {
  content: url(/assets/icons/icon-arrow.svg);
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  transition: transform 0.3s ease;
  position: absolute;
  right: 0;
  fill: hsl(34.38,40.27%,56.67%);
}
&__body {
  color: #9194a1;
  @include font-family-normal;
  text-align: center;
  padding: $p-base;
    font-size: 0.91rem;
    font-weight: $fw-normal;
    text-align: center;
    color: rgb(110, 108, 108);
    letter-spacing: 0.5px;
}
}
.details[open]  .summary::after {
  content: url(/assets/icons/icon-arrow-red.svg);
  transform: rotate(180deg);
  fill: black;
}

svg:hover {
  fill: $c-Light-grayish-blue;
}
.product-section{
width: 89%;
margin: 0 auto;
@include flex-center;
flex-direction: column;
@include tablet-query{
 max-width: 46%;
}
@include laptop-query{
 max-width: 48%;
}
@include laptop-l-query{
  max-width: 26%;
}
}
.reviews{
  width: 77%;
  margin: 0;
  @include font-family-normal;
 @include flex-space-bteween;
 @include tablet-query{
  width: 88%
}
 @include laptop-query{
  width: 53%;
 }

}
.reviews span{
  margin: 0  auto;
  text-transform: capitalize;
  color: $c-grayish-blue;
  letter-spacing: 1px;
  @include font-family-normal;

}
.stars_list{
  display: flex;
  list-style: none;
}
.stars_list li i{
  color: $c-dark-green;
  font-size: 15px;
  padding: 0 5px;
}
.reviwe{
  color:$c-dark-green;
  padding: 1rem;

  &-title{
    @include font-family-normal;
    letter-spacing: 0.7px;
    color:$c-dark-grayish-blue;
    font-size: 2rem;
    margin: 0;
    font-weight: $fw-normal;

  }
  &-main{
    @include flex-center;
    @include font-family-normal;
    letter-spacing: 0.7px;
  }
}
.stars__list{
  padding: 0;
  @include flex-center;
  list-style: none;
  @include font-family-normal;
  letter-spacing: 0.7px;
}
.review-total{
  text-decoration: underline;
  font-weight: $fw-normal;

}
.ri-star-fill{
padding:0 .3rem ;
}
.bar__ver--right {
  border-left: 1px solid $c-grayish-blue;
  @include flex-center;
  height: 15px;
  flex-direction: row;
  margin-left: .5rem;
}
.bar__ver--left {
  border-left: 1px solid $c-grayish-blue;
  @include flex-center;
  height: 15px;
  flex-direction: row;
  margin-right: .5rem ;
  margin-left: .5rem;
}
.review-login{
  text-decoration: underline;
  font-weight: $fw-normal;

}
