.section{
  width: 100%;
  height: 800px;
}
.form{
  width: 88%;
  margin: $m-base*4 auto;
  padding: $p-base*2 $p-base*2;
  border: 1px solid $c-banana-sim-black;
  &__topic{
    @include font-family-normal;
    font-size:2rem;
    margin: $m-base*2;
    text-align: center;
  }
  &__input-box{
    padding:$p-base*2 0;
    @include font-family-normal;

  }
  &__input-box-text{
    padding: $p-base;
    @include font-family-normal;

  }

  &__message-box {
    @include font-family-normal;
    display: flex;
    flex-direction: column;
    

  }
  &__input-text{
    border-top:none;
    border-left:none;
    border-right:none;


  }
  &__submit-btn {
            width:100px;
            border-radius: 0.3rem;
            @include paperStyleShadow;
            @include font-family-normal;
            font-size: 12px;
            padding: 0;
            text-transform: capitalize;
            border: none;
            background-color: $c-dark-green;
            color: $c-white;
            cursor: pointer;
            padding: $p-base*.6 $p-base*.6;

            &:hover{
                background-color: $c-white;
                border:2px solid $c-dark-green;
                color: $c-dark-green;
            }
  }
}