.form-container{
    @include font-family-normal;
    padding: $p-base*2 0;
    background-color: $c-light-gray-back;
    &__title{
        @include font-family-normal;
        font-weight: $fw-bold;
        margin: 0;
        font-size: 1.4rem;
        color: $c-dark-green;
        &::before{
            content: "";
            position: absolute;
            background-color: $c-dark-green;
            display: block;
            height: 1px;
            width: 100%;
        }
        &::after{
            content: "";
            position: absolute;
            background-color: $c-dark-green;
            display: block;
            height: 1px;
            width: 100%;
        
        }
    }
    &__copy{
        width: 80%;
        margin: 0 auto;
        padding: $p-base*3 0;
        text-align: center;
        text-transform:capitalize;
        color: $c-light-body;
    
    }
}
.form{
    width: 80%;
    margin: 0 auto;
    margin: 0 auto;
    padding: $p-base  $p-base*2;

    &__input-box{
        padding:$p-base 0;
    }
    &__input-text{
        width: 100%;
        padding: $p-base*.8;
        background-color: $c-light-dark-gray;
        border: none;
        color: $c-light-body;
    }

    &__message-box {
        display: flex;
        flex-direction: column;
    }
  &__input-textArea{
    padding: $p-base*.8;
    background-color: $c-light-dark-gray;
    border: none;
  }
    &__input-text{
    }
    &__submit-btn {
    width:100px;
    border-radius: 0.3rem;
    @include paperStyleShadow;
    @include font-family-normal;
    font-size: 12px;
    padding: 0;
    text-transform: capitalize;
    border: none;
    background-color: $c-dark-green;
    color: $c-white;
    cursor: pointer;
    padding: $p-base*.6 $p-base*.6;

    &:hover{
        background-color: $c-white;
        border:2px solid $c-dark-green;
        color: $c-dark-green;
    }
  }
}