.footer{
    width: 100%;
    background-color: $c-banana-mania;
    padding: $p-base;
    &__social{
        display: flex;
        justify-content: center;
        align-items: center;
        &-link{
        padding: $p-base;
        }
    }
    &__copy{
        padding: $p-base;
        @include tablet-query{
            text-align: center;
        
        }
    }
}
