.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    height: 200px;
    align-items: center;
    padding: $p-base*2 0;
    background-color: $c-white;
    box-shadow: 11px 0px 4px rgba(10, 10, 10, 0.2);
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0%;
        left: 0;
        bottom: 0;
        background-image: url(../../../assets/images/images14.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position:bottom;
        max-height: 700px;
        max-width: 200px;
        opacity: 0.7;

    }
    &__social{
        width: 200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @include paperStyleShadow; 
        z-index: 5;
        background-color:$c-dark-green ;
        &:hover{
            background-color: $c-dark-green;
        }
        &-link{
        padding: $p-base;
        }
    }
    &__copy{
        padding: $p-base;
        z-index: 6;
        @include tablet-query{
            text-align: center;
        
        }
    }
}
