.header{
    background-color: $c-banana-mania;
    position: relative;
    background-color:c-banana-mania;
    width:100%;
    height: 90px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $p-base;
    @include tablet-query{
    }
    @include laptop-query{
        justify-content: space-around
    }
    &__logo{
        @include font-family-bolder;
        margin: 0;
        padding: 0;
        width: 166px;
        font-size: 29px !important;
        &-link{
        @include font-family-normal;
        padding: 0;
        margin: 0;
        color:$c-dark-desaturated-blue;
        font-size: 20px;
        font-weight: 900 !important;
        text-transform:capitalize;
        text-decoration: none;
        }
    }
    &__toggle{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: transparent;
        border: none;
        width: 35px;
        height: 60px;
        padding: 0;
        transition: all .5s ease-in-out;
        cursor: pointer;
        @include laptop-query{
            display: none;
        }
        &-burger{
            padding: 0;
            margin: 0;
            position: relative;
            width: 17px;
            height:2px;
            background-color: $c-dark-desaturated-blue;
            border-radius: 5px;
            box-shadow:  0 2px 5px rbga(255,101,47,.2);
            transition: all .5s ease-in-out;
            @include laptop-query{
                display: none;
            }

        }
        &-burger::before,::after{
            content: '';
            position:absolute;
            top: 0;
            right: 0;
            width:17px;
            height:2px;
            background-color: $c-dark-desaturated-blue;
            box-shadow:  0 2px 5px rbga(255,101,47,.2);
            transition: all .5s ease-in-out;
        }
        &-burger::before{
            transform: translateY(-5px);
        }
        &-burger::after{
            transform: translateY(5px);
        }
    }
}

.header__toggle.open  .header__toggle-burger{
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none;
    @include laptop-query{
        display: none;
    }
}
.header__toggle.open  .header__toggle-burger::before{
    transform: rotate(45deg)
     translate(35px, -35px);
    @include laptop-query{
        transform: none;
        display: none;
        translate: none;
    }
}
.header__toggle.open  .header__toggle-burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
    @include laptop-query{
        transform: none;
        display: none;
        translate: none;
    }
}
.navbar{
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 8;
    width: 160px;
    height: 100vh;
    padding: $p-base;
    background-color: $c-banana-mania;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(-500px);
    transition: transform .5s ease-in;
    @include laptop-query{
        position: relative;
        top: 0;
        width: 600px;
        height: 90px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transform: none;
        transition: none;
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
        margin-bottom: $m-base*9;
        @include laptop-query{
            width: 50%;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
        }
        &__item{
            list-style: none;
            margin-top: $m-base*4;
            opacity: 0;
            @include laptop-query{
                margin: 0;
                opacity: 1;
            }
        }
        &__item-link{
            @include font-family-normal ;
            font-size: 17px;
            letter-spacing: 1.5px;
            color:$c-dark-desaturated-blue;
            text-transform: capitalize;
            text-decoration:none;
            position: relative;
            padding: $p-base*.5 0;
        }
        &__item-link::after{
            content:"";
            width: 100%;
            height: .5px;
            background-color: $c-dark-desaturated-blue;
            position: absolute;
            left: 0;
            transform: scaleX(0);
            transition:transform 0.5s;
          }
          &__item-link::after{
            bottom: 0;
          }
          &__item-link:hover::after{
            transform: scaleX(1);
          }
    }
    &__login{
        width:130px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        &-btn{
            background-color: transparent;
            @include font-family-normal;
            color: $c-dark-desaturated-blue;
            font-size: 16px;
            padding: 1rem;
            text-transform: capitalize;
            border: none;
            cursor: pointer;
            
        }
        &-img{
            width:30px;
            height:30px;
            border-radius: 50px;
        }
      }
   
    &__social{
        width: 130px;
        display: flex; 
        justify-content: space-around;
        padding: $p-base 0;
        @include laptop-query{
        display: none;
        width: 200px;
        }
        &-link img{
            padding: $p-base 0;
        }
    }
}
.navbar__submenu{
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    display: none;
    top:100%;
}
.navToggle-active{
    transform: translateX(0);
    @include laptop-query{
       
        display: none;
        transform:none;
        translate: none;
    }
}

@keyframes navLinkFade{
   
    from{
        opacity: 0;
        transform:translateX(-10px);
        @include laptop-query{
            transform:none;
            translate: none;
        }
    }to{
        opacity: 1;
        transform:translateX(0);
        @include laptop-query{
            transform:none;
            translate: none;
        }

    }
  
}




// .hide {
//     display: none;
//     @include laptop-query{
//         display: none;
//     }
// }
// .show-popuptext {
//     display: block;
//     @include laptop-query{
//         display: none;
//     }
// }
// .show {
//     display: block;
//     @include laptop-query {
//         display: none;
//     }
// }
// .move-in{
//     display: block;
//     animation: slidein 0.50s;
//     @include laptop-query{
//         display: none;
//         animation: none;
//     }
//     @keyframes slidein {
//         from {
//             transform: translateX(-80%);
//         }

//         to {
//             transform: translateX(0);
//         }
//     }
// }
// .move-out{
//     animation: slideout 1s ease-in-out;
//     @include laptop-query{
//         display: none;
//         animation: none
//     }
//     @keyframes slideout {
//         from {
//             transform: translateX(0);
//         }

//         to {
//             transform: translateX(-400px);
//         }
//     }
   
// }
.overlay {
    &::before {
        content: "";
        opacity: 0.77;
        min-width: 100%;
        height: 100vh;
        display: block;
        right: 0;
        top: 100%;
        position: absolute;
        background: $c-dark-desaturated-blue;
        z-index: 7;
        animation: slidex 1s;
    
        @include laptop-query{
            display: none;
            animation: none
        }
        @keyframes slidex {
            from {
                transform: translateX(-500px);
            }

            to {
                transform: translateX(0);
            }
        }
       
       
    }
    
  
}