.hero{
    position: relative;
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    height: 200px;
    background-color: $c-yellow;
    align-items: center;
    filter: grayscale(100%);
    padding: $p-base*.5 0;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid $c-white;
    &:hover{
        filter: grayscale(0);
    }
    @include tablet-query{
        height: 359px;
        max-width: 79%;
        margin: $m-base auto;
        justify-content: center;
        align-items: center;
        background-color: $c-yellow;
    }
    @include laptop-query{
        max-width: 59%;
        height: 450px;

    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: url(../../../assets/images/images10.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position:center;
        max-height: 100%;
        max-width: 100%;
        opacity: 0.7;


      }
    &__title{
        position: relative;
        top: 100%;
        @include font-family-normal;
        color: $c-banana-sim-black;
        padding: 0 $p-base;
        text-align: center;
        z-index: 2;
        padding: $p-base*.1;
        background-color: transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        border: 2px solid $c-white;
        @include tablet-query{
            top: 69%;
            margin: 0 auto;
        }
     
        
    }
}
.type{
    width: 100%;
    margin-top: $m-base*10;
    
    @include tablet-query{
        margin-top: $m-base*11;
    }
    &__body{
        margin-top: 7rem;
        padding: 1rem;
        text-align: center;
        padding: $p-base*.5 0;
        background-color: transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        border: 2px solid $c-white;
        @include font-family-normal
    }
    &__card{
        width: 100%;
        display: block;
        margin: $m-base auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    &-img{
        filter: grayscale(100%);
        &:hover{
            filter: grayscale(0);
        }
@include laptop-query{
    width:352px;
    margin: 0 auto;
   
}
         }
    &-title{
        @include font-family-normal;
        text-align: center;
        @include tablet-query{
           text-align: center;
        }
        @include laptop-query{
            font-size: 26px;
        }
        }
        &-body{
            @include font-family-normal;
            padding: 0 $p-base;
            text-align: center;
            margin: 0;
            border-radius: 0.3rem;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            border: 2px solid $c-white;
            @include laptop-query{
                font-size: 18px;
                width: 660px;
            }
        }
    }
}
.card-container{
    width: 100%;
    padding: $p-base*2  $p-base;
    @include tablet-query{
        justify-content: center;
        align-items: center;
    }
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding:0;
    margin: $m-base*2 0;
    position: relative;
    min-height: 117.78px;
    filter: grayscale(100%);
    &:hover{
        filter: grayscale(0%);
    }
    @include tablet-query{
        width: 75%;
        margin: $m-base auto;
    }
    @include laptop-query{
        flex-direction: row-reverse;
        &:nth-child(even){
            flex-direction: row;
        }
    }
    &__img{
    width: 100%;
    max-height: 215.7px;
    border-radius: 0.3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid $c-white;
   
    @include laptop-query{
        margin: $m-base;
    }
    &:hover{
        filter: grayscale(0%);
    }
}
    &__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $c-dark-green;
        max-height:100%;
        width: 100%;
        border-radius: 0.3rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        border: 2px solid $c-white;
        @include laptop-query{
            height: 215.7px;
            margin: $m-base;
        }
        &-title{
            @include font-family-normal;
            text-align: center;
            margin: 0;
            color:$c-white;
            padding: $p-base*.5;
        }
        &-copy{
            @include font-family-normal;
            text-align: center;
            padding: $p-base;
            color:$c-white;
            margin: 0;
        }
    }
    &__btn{
        @include font-family-normal;
        border: 1px solid $c-white;
        border-radius: 8px;
        padding:$p-base*.3 $p-base;
        position: absolute;
        top: 57%;
        left: 15%;
        display: block;
        background-color:$c-white;
        color: $c-banana-sim-black;
        font-weight: $fw-bold;
        z-index: 3;
        &:hover{
            color: $c-dark-green;
        }
      
        @include laptop-query{
            top: 69%;
            left: 4%;
            &:nth-child(2){
                top: 69%;
                left: 84%;
            }
        }
            &-link{
                text-decoration: none;
                color: $c-banana-sim-black;
                text-transform: capitalize;
            }
    }
   
}
