.hero{
  position: relative;
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  background-color:rgb(226,213,206);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(../../../assets/images/Shorts23.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    opacity: .3;
  }
  &__title{
    @include font-family-normal;
    text-align: center;
      margin: 0;
  }
}