/* Document
  ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;500;600&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
      ========================================================================== */
/**
    * Remove the margin in all browsers.
    */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/**
    * Render the `main` element consistently in IE.
    */
main {
  display: block;
}

/**
    * Correct the font size and margin on `h1` elements within `section` and
    * `article` contexts in Chrome, Firefox, and Safari.
    */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
      ========================================================================== */
/**
    * 1. Add the correct box sizing in Firefox.
    * 2. Show the overflow in Edge and IE.
    */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
      ========================================================================== */
/**
    * Remove the gray background on active links in IE 10.
    */
a {
  background-color: transparent;
}

/**
    * 1. Remove the bottom border in Chrome 57-
    * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
    */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
    * Add the correct font weight in Chrome, Edge, and Safari.
    */
b,
strong {
  font-weight: bolder;
}

/**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
    * Add the correct font size in all browsers.
    */
small {
  font-size: 80%;
}

/**
    * Prevent `sub` and `sup` elements from affecting the line height in
    * all browsers.
    */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
      ========================================================================== */
/**
    * Remove the border on images inside links in IE 10.
    */
img {
  border-style: none;
}

/* Forms
      ========================================================================== */
/**
    * 1. Change the font styles in all browsers.
    * 2. Remove the margin in Firefox and Safari.
    */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
    * Show the overflow in IE.
    * 1. Show the overflow in Edge.
    */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
    * Remove the inheritance of text transform in Edge, Firefox, and IE.
    * 1. Remove the inheritance of text transform in Firefox.
    */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
    * Correct the inability to style clickable types in iOS and Safari.
    */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
    * Remove the inner border and padding in Firefox.
    */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
    * Restore the focus styles unset by the previous rule.
    */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
    * Correct the padding in Firefox.
    */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
    * 1. Correct the text wrapping in Edge and IE.
    * 2. Correct the color inheritance from `fieldset` elements in IE.
    * 3. Remove the padding so developers are not caught out when they zero out
    *    `fieldset` elements in all browsers.
    */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
    * Add the correct vertical alignment in Chrome, Firefox, and Opera.
    */
progress {
  vertical-align: baseline;
}

/**
    * Remove the default vertical scrollbar in IE 10+.
    */
textarea {
  overflow: auto;
}

/**
    * 1. Add the correct box sizing in IE 10.
    * 2. Remove the padding in IE 10.
    */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
    * Correct the cursor style of increment and decrement buttons in Chrome.
    */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
    * 1. Correct the odd appearance in Chrome and Safari.
    * 2. Correct the outline style in Safari.
    */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
    * Remove the inner padding in Chrome and Safari on macOS.
    */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
    * 1. Correct the inability to style clickable types in iOS and Safari.
    * 2. Change font properties to `inherit` in Safari.
    */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
      ========================================================================== */
/*
    * Add the correct display in Edge, IE 10+, and Firefox.
    */
details {
  display: block;
}

/*
    * Add the correct display in all browsers.
    */
summary {
  display: list-item;
}

/* Misc
      ========================================================================== */
/**
    * Add the correct display in IE 10+.
    */
template {
  display: none;
}

/**
    * Add the correct display in IE 10.
    */
[hidden] {
  display: none;
}

.container {
  padding: 2rem;
  margin: auto;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Avenir";
  src: url("./../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "satisfy-Regular";
  src: url(../../../assets/fonts/Satisfy-Regular.ttf);
  font-weight: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kumbh";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNopqShNBVo0iPw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
/*******************
* MEDIA QUERIES
********************/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Avenir";
  src: url("./../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "satisfy-Regular";
  src: url(../../../assets/fonts/Satisfy-Regular.ttf);
  font-weight: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kumbh";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNopqShNBVo0iPw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
/***********************
* COLORS
************************/
.header {
  width: 100%;
  height: 5rem;
  font-family: "Kumbh Sans";
  background-color: hsl(13.85deg, 35.14%, 92.75%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 1rem;
  z-index: 169;
}
@media screen and (min-width: 1020px) {
  .header {
    padding: 2rem;
  }
}
.header-nav {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1020px) {
  .header-nav {
    width: 9rem;
  }
}
.header-nav__toggle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  width: 35px;
  height: 36px;
  padding: 0;
  background-color: hsl(13.85deg, 35.14%, 92.75%);
  transition: all 0.5s ease;
  cursor: pointer;
}
@media screen and (min-width: 1020px) {
  .header-nav__toggle {
    display: none;
  }
}
.header-nav__toggle-burger {
  padding: 0;
  margin: 0;
  position: relative;
  width: 17px;
  height: 2px;
  background-color: hsl(212deg, 27%, 19%);
  transition: all 0.5s ease;
}
.header-nav__toggle-burger::before, .header-nav__toggle ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 2px;
  background-color: hsl(212deg, 27%, 19%);
  box-shadow: 0 2px 5px rbga(255, 101, 47, 0.2);
}
.header-nav__toggle-burger::before {
  transform: translateY(-5px);
}
.header-nav__toggle-burger::after {
  transform: translateY(5px);
}
.header-nav__logo {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 166px;
  font-size: 29px !important;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
.header-nav__logo-link {
  font-family: "Kumbh Sans";
  padding: 0;
  margin: 0;
  color: hsl(212deg, 27%, 19%);
  font-size: 20px;
  font-weight: 900 !important;
  text-transform: capitalize;
  text-decoration: none;
  color: hsl(265.71deg, 36.21%, 45.49%);
}

.header-nav__toggle.open .header-nav__toggle-burger {
  transform: translateX(-50px);
  background-color: transparent;
  box-shadow: none;
}
@media screen and (min-width: 1020px) {
  .header-nav__toggle.open .header-nav__toggle-burger {
    display: none;
  }
}

.header-nav__toggle.open .header-nav__toggle-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
@media screen and (min-width: 1020px) {
  .header-nav__toggle.open .header-nav__toggle-burger::before {
    transform: none;
    display: none;
    translate: none;
  }
}

.header-nav__toggle.open .header-nav__toggle-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
@media screen and (min-width: 1020px) {
  .header-nav__toggle.open .header-nav__toggle-burger::after {
    transform: none;
    display: none;
    translate: none;
  }
}

.navToggle-active {
  transform: translateX(0);
}
@media screen and (min-width: 1020px) {
  .navToggle-active {
    display: none;
    transform: none;
    translate: none;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: hsl(13.85deg, 35.14%, 92.75%);
  height: 5rem;
  width: 3rem;
}
@media screen and (min-width: 1020px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90rem;
  }
}
.navbar__list {
  width: 39%;
  height: 100vh;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: hsl(13.85deg, 35.14%, 92.75%);
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
  padding-top: 6rem;
  transform: translateX(-300px);
  transition: transform 1s ease-in-out;
}
@media screen and (min-width: 1020px) {
  .navbar__list {
    padding: 0;
    position: static;
    width: 41.25rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    transform: none;
    transition: none;
  }
}
.navbar__list__item {
  font-weight: 900;
  padding: 1rem;
  margin-top: 1rem;
  margin: 0;
}
@media screen and (min-width: 1020px) {
  .navbar__list__item {
    text-align: center;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.navbar__list__item-link {
  font-family: "Kumbh Sans";
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  color: #0e0e0e;
  font-family: 900;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 1rem 0;
}
@media screen and (min-width: 1020px) {
  .navbar__list__item-link {
    padding: 2.06rem 0;
  }
}
.navbar__list__item-link :hover {
  color: hsl(265.71deg, 36.21%, 45.49%);
}
.navbar__list__item-link::after {
  content: "";
  width: 100%;
  height: 2.16px;
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform ease-in;
  transition: transform 0.5s;
}
.navbar__list__item-link:hover::after {
  transform: scaleX(1);
}
.navbar__list-link:active {
  color: hsl(265.71deg, 36.21%, 45.49%);
}
.navbar__list__item-link--rose {
  color: hsl(13.85deg, 35.14%, 92.75%);
  text-decoration: none;
}
@media screen and (min-width: 1020px) {
  .navbar__list__item-link--rose {
    color: hsl(265.71deg, 36.21%, 45.49%);
  }
}
.navbar__list__item-login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid hsl(0deg, 0%, 100%);
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  border-radius: 0.563rem;
  border: none;
  margin: 1rem;
  padding: 0.567rem;
  width: 70%;
}
@media screen and (min-width: 768px) {
  .navbar__list__item-login {
    width: 50%;
  }
}
@media screen and (min-width: 1020px) {
  .navbar__list__item-login {
    width: 11%;
    margin: 0;
    background-color: transparent;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border: none;
    color: hsl(265.71deg, 36.21%, 45.49%);
  }
}
.navbar__list__item-imgCard {
  display: none;
}
@media screen and (min-width: 1020px) {
  .navbar__list__item-imgCard {
    display: block;
  }
}
.navbar__list__item-img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: none;
}
@media screen and (min-width: 1020px) {
  .navbar__list__item-img {
    display: block;
  }
}
.navbar__cart {
  display: flex;
}
.navbar__cart-text {
  position: absolute;
  width: 16px;
  height: 16px;
  text-align: center;
  top: 18px;
  right: 19px;
  color: hsl(265.71deg, 36.21%, 45.49%);
  font-size: 12px;
  font-weight: 900;
  z-index: 4;
  margin: 0;
}
@media screen and (min-width: 1020px) {
  .navbar__cart-text {
    top: 18px;
    right: 35px;
  }
}
.navbar__cart-img {
  fill: hsl(265.71deg, 36.21%, 45.49%);
}

.navbar__submenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  display: none;
  top: 100%;
}

.navToggle-active {
  transform: translateX(0);
  transition: transform 1s ease;
}
@media screen and (min-width: 1020px) {
  .navToggle-active {
    display: none;
    transform: none;
    translate: none;
  }
}

.navToggle-nonActive {
  transform: translateX(-360px);
  opacity: 0.9;
  transition: transform 1s ease-in-out;
}
@media screen and (min-width: 1020px) {
  .navToggle-nonActive {
    display: none;
    transform: none;
    translate: none;
  }
}

.hide-scroll {
  overflow: hidden;
  height: 100vh;
}
@media screen and (min-width: 1020px) {
  .hide-scroll {
    overflow: auto;
  }
}

.overlay::before {
  content: "";
  opacity: 0.77;
  min-width: 100%;
  height: 100vh;
  display: block;
  right: 0;
  top: 100%;
  position: absolute;
  background: hsl(265.71deg, 36.21%, 45.49%);
  -webkit-animation: slidex 1s;
          animation: slidex 1s;
}
@media screen and (min-width: 1020px) {
  .overlay::before {
    display: none;
    -webkit-animation: none;
            animation: none;
  }
}
@-webkit-keyframes slidex {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slidex {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}

.removeShopingCart {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

.hide {
  display: none;
}

.content {
  padding: 5rem 0 0 0;
  min-height: 100%;
}

.main-content {
  overflow: auto;
}

.hero {
  width: 100%;
  height: 213px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 350px;
  }
}
@media screen and (min-width: 1020px) {
  .hero {
    height: 437px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    height: 760px;
  }
}

.hero__navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
@media screen and (min-width: 1020px) {
  .hero__navigation {
    width: 100%;
  }
}

.hero__prev-btn,
.hero__next-btn {
  background: hsl(0deg, 0%, 100%);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.slider-container {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1020px) {
  .slider-container {
    width: 100%;
  }
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
}
@media screen and (min-width: 1020px) {
  .slider {
    height: 100%;
  }
}

.slider__list {
  width: 100%;
  height: 100%;
  display: none;
}
@media screen and (min-width: 1020px) {
  .slider__list {
    width: 100%;
    height: 100%;
  }
}

.slider__list img {
  width: 100%;
  height: 100%;
}

.show {
  display: block;
  margin: 0;
}
@media screen and (min-width: 1020px) {
  .show {
    display: block;
    margin: 0;
  }
}

.main-hero {
  margin: 0 auto;
  padding: 3rem 1rem 0 1rem;
}

.hero__title {
  font-family: "Kumbh Sans";
  width: 100%;
  display: inline-block;
  font-weight: 900;
  font-size: 1.6rem;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: hsl(265.71deg, 36.21%, 45.49%);
  text-align: center;
  text-transform: uppercase;
  margin: 2rem auto;
  position: relative;
  padding-bottom: 1rem;
}
.hero__title::after {
  content: "";
  position: absolute;
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  display: block;
  height: 3px;
  width: 10rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1rem auto 0;
}

.hero__body {
  font-family: "Kumbh Sans";
  width: 80%;
  font-size: 0.91rem;
  font-weight: 300;
  text-align: center;
  display: block;
  color: rgb(110, 108, 108);
  letter-spacing: 0.5px;
  margin: 0 auto 4rem;
}

.service__container {
  max-width: 56.25em;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .service__container {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1020px) {
  .service__container {
    max-width: 100%;
    height: 500px;
    flex-wrap: nowrap;
  }
}

.service-card {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  height: 13rem;
  margin-bottom: 2rem;
  margin-right: 0;
  background-color: hsl(0deg, 0%, 96.86%);
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .service-card {
    flex: 0 0 48%;
    padding: 0 1rem;
    height: 15rem;
    margin: 1rem auto 1rem;
  }
}
@media screen and (min-width: 1020px) {
  .service-card {
    flex: 0 0 24%;
    padding: 0 1rem;
    height: 15rem;
    margin: 1rem auto 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .service-card {
    flex: 0 0 24%;
    padding: 0 1rem;
    height: 15rem;
    margin: 1rem auto 1rem;
  }
  .service-card:nth-child(2) {
    transform: translateY(50px);
  }
  .service-card:nth-child(3) {
    transform: translateY(100px);
  }
  .service-card:nth-child(4) {
    transform: translateY(150px);
  }
}

.fa-solid, .fa-solar-panel {
  width: 100%;
}

.service-card__title {
  font-family: "Kumbh Sans";
  text-transform: capitalize;
  color: rgb(110, 108, 108);
}

.service-card__body {
  font-family: "Kumbh Sans";
  width: 70%;
  width: 80%;
  font-size: 0.91rem;
  font-weight: 300;
  text-align: center;
  color: rgb(110, 108, 108);
  letter-spacing: 0.5px;
}

.type {
  width: 100%;
  margin: 3rem auto;
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
  flex-wrap: wrap;
  font-family: "Kumbh Sans";
  color: rgb(110, 108, 108);
  font-weight: 300;
}
@media screen and (min-width: 1020px) {
  .type {
    background-color: hsl(0deg, 0%, 96.86%);
    width: 72%;
    flex-direction: row;
    flex: 0 0 280%;
    justify-content: space-around;
    padding: 0;
  }
}
.type__picture-container {
  background-color: hsl(0deg, 0%, 96.86%);
  width: 100%;
}
@media screen and (min-width: 1020px) {
  .type__picture-container {
    width: 65%;
    height: 23rem;
    background-color: hsl(0deg, 0%, 96.86%);
  }
}
.type__card-img {
  width: 100%;
  height: 100%;
}
.type__body-container {
  background-color: hsl(0deg, 0%, 96.86%);
  width: 100%;
  padding: 1rem;
}
@media screen and (min-width: 1020px) {
  .type__body-container {
    width: 35%;
  }
}
.type__title {
  font-weight: 300;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  color: hsl(265.71deg, 36.21%, 45.49%);
  font-family: 700;
  font-size: 1.91rem;
}
.type__copy {
  text-align: center;
  text-align: center;
  background-color: hsl(0deg, 0%, 96.86%);
  letter-spacing: 0.5px;
  font-size: 0.91rem;
}

.card-container {
  width: 100%;
  padding: 2rem 1rem;
}
@media screen and (min-width: 768px) {
  .card-container {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1020px) {
  .card-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 2rem 0;
  position: relative;
  min-height: 117.78px;
  background-color: transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid hsl(0deg, 0%, 100%);
}
.card:nth-child(odd) {
  background-color: #6e4a9e;
}
.card:nth-child(even) {
  background-color: #6d6c6f;
}
.card:hover {
  filter: grayscale(0%);
}
@media screen and (min-width: 768px) {
  .card {
    width: 75%;
    margin: 1rem auto;
  }
}
@media screen and (min-width: 1020px) {
  .card {
    width: 48%;
    flex-direction: row-reverse;
  }
  .card:nth-child(even) {
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    width: 30%;
  }
}
.card__img {
  width: 100%;
  max-height: 215.7px;
}
@media screen and (min-width: 1020px) {
  .card__img {
    width: 47%;
    margin: 1rem;
  }
}
.card__img:hover {
  filter: grayscale(0%);
}
.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  width: 100%;
  color: hsl(0deg, 0%, 100%);
}
@media screen and (min-width: 1020px) {
  .card__body {
    height: 215.7px;
    margin: 1rem;
  }
}
.card__body-title {
  font-family: "Kumbh Sans";
  text-align: center;
  margin: 0;
  padding: 0.5rem;
}
.card__body-copy {
  font-family: "Kumbh Sans";
  text-align: center;
  padding: 1rem;
  margin: 0;
}
.card__btn {
  font-family: "Kumbh Sans";
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 8px;
  padding: 0.3rem 1rem;
  position: absolute;
  top: 51%;
  left: 7%;
  display: block;
  background-color: hsl(13.85deg, 35.14%, 92.75%);
  color: #0e0e0e;
  font-weight: 700;
  z-index: 3;
}
@media screen and (min-width: 1020px) {
  .card__btn {
    top: 76%;
    left: 66%;
  }
}
.card__btn:hover {
  background-color: hsl(265.71deg, 36.21%, 45.49%);
}
.card__btn-link {
  text-decoration: none;
  color: #0e0e0e;
  text-transform: capitalize;
}

@media screen and (min-width: 1020px) {
  .card__btn--pure, .card__btn--lemon, .card__btn--thieves {
    top: 76%;
    left: 8%;
  }
}
@media screen and (min-width: 1440px) {
  .card__btn--pure, .card__btn--lemon, .card__btn--thieves {
    top: 78%;
    left: 7%;
  }
}

.testimonials {
  color: hsl(0deg, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(/assets/images/images23.jpg);
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 80vh;
  padding: 0;
}
.testimonials__title {
  margin: 1rem auto 0;
  text-align: center;
  font-size: 1.9rem;
  position: relative;
  padding-bottom: 1rem;
}
.testimonials__title::after {
  content: "";
  position: absolute;
  background-color: rgb(241, 241, 233);
  display: block;
  height: 3px;
  width: 10rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1rem auto 0;
}
@media screen and (min-width: 768px) {
  .testimonials__title {
    width: 60%;
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 1020px) {
  .testimonials__title {
    width: 60%;
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 1440px) {
  .testimonials__title {
    width: 60%;
    font-size: 2.4rem;
  }
}
.testimonials-nav {
  width: 40%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonials-btn {
  background-color: transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid hsl(0deg, 0%, 100%);
  border: 1px solid black;
  color: hsl(0deg, 0%, 100%);
  padding: 0.5rem;
  border-radius: 0.6rem;
  background-color: rgb(110, 108, 108);
  margin: 1rem 0;
}
.testimonials-btn:hover {
  background-color: #6E4A9E;
}
.testimonials-btn a {
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
}

.testimonials-nav__angle-left, .testimonials-nav__angle-right {
  background-color: transparent;
  border: none;
}

.testimonials-nav__icon-left, .testimonials-nav__icon-right {
  filter: invert(100%) sepia(125%) saturate(88%) hue-rotate(18deg) brightness(228%) contrast(100%);
}

.main-testimonials {
  overflow: hidden;
  width: 100%;
  height: 264px;
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .main-testimonials {
    width: 60%;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1020px) {
  .main-testimonials {
    width: 60%;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .main-testimonials {
    width: 60%;
    font-size: 1.7rem;
  }
}
.main-testimonials__card {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-500px);
  display: none;
}
.main-testimonials__card-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-testimonials__card-img {
  width: 40px;
  height: 40px;
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 50%;
}
.main-testimonials__card-cont {
  margin: 0 auto;
  max-height: 70%;
  text-align: center;
  overflow-y: auto;
}
.main-testimonials__card-name {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .main-testimonials__card-name {
    font-size: 1.2rem;
  }
}
.main-testimonials__card-copy {
  width: 100%;
  text-align: center;
}

.showComments {
  display: flex;
  transform: translateX(0);
}
@media screen and (min-width: 1020px) {
  .showComments {
    display: block;
    margin: 0;
  }
}

.fa-capsules, .fa-solar-panel, .fa-hands-holding-child, .fa-briefcase {
  width: 70px;
  height: 22px;
  color: hsl(265.71deg, 36.21%, 45.49%);
}

.images {
  display: flex;
  flex-wrap: wrap;
}
.images__image {
  height: 100%;
}
.images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media screen and (min-width: 1020px) {
  .images__image {
    width: auto;
    flex: 1;
  }
}

.footer {
  position: relative;
  max-width: 100%;
  height: 149px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  clear: both;
  background-color: hsl(13.85deg, 35.14%, 92.75%);
  align-items: center;
  box-shadow: 11px 0px 4px rgba(10, 10, 10, 0.2);
  color: rgb(110, 108, 108);
}
.footer__social {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  border-radius: 15px;
}
.footer__social-link {
  padding: 1rem;
}
.footer__copy {
  padding: 1rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__copy {
    text-align: center;
  }
}

.fa-facebook-f, .fa-instagram-square, .fa-twitter {
  color: #0e0e0e;
}

.collection-slider {
  position: relative;
  width: 100%;
  height: 600px;
  color: rgb(68, 67, 67);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
@media screen and (min-width: 1020px) {
  .collection-slider {
    height: 600px;
  }
}

.slider-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.slider-card__list {
  width: 100%;
  height: 100%;
  display: none;
}
.slider-card__list-item {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 126px;
  text-transform: capitalize;
  font-family: "Kumbh Sans";
  position: absolute;
  margin: 23rem auto;
  padding: 1.9rem;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .slider-card__list-item {
    width: 50%;
    border-radius: 7px;
    margin-left: 2rem;
    margin-top: 8.5rem auto;
  }
}
@media screen and (min-width: 1020px) {
  .slider-card__list-item {
    width: 50%;
    border-radius: 7px;
    margin-left: 5rem;
    margin-top: 11.5rem auto;
  }
}
.slider-card__list-item button {
  background-color: transparent;
  background-color: transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid hsl(0deg, 0%, 100%);
  border: 1px solid #0e0e0e;
  padding: 0.21rem;
  width: 150px;
  border-radius: 5px;
}

.slider__card__list-img {
  width: 100%;
  height: 597px;
}
@media screen and (min-width: 768px) {
  .slider__card__list-img {
    height: 561px;
  }
}
@media screen and (min-width: 1020px) {
  .slider__card__list-img {
    height: 600px;
  }
}

.slider-card__list-title {
  color: hsl(265.71deg, 36.21%, 45.49%);
}

.slider-card__list-link {
  text-decoration: none;
  color: #0e0e0e;
  background-color: transparent;
}

.show-img {
  margin: 0 auto;
  display: block;
}

.radio-container {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  position: absolute;
  top: 89%;
  background-color: transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid hsl(0deg, 0%, 100%);
  border: none;
  background-color: rgba(244, 223, 223, 0.6);
  bottom: 0;
}
@media screen and (min-width: 1020px) {
  .radio-container {
    width: 400px;
    height: 60px;
    top: 88%;
  }
}

.radio-container__btn {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  border: 1px soild rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}
.radio-container__btn:hover {
  background-color: hsl(265.71deg, 36.21%, 45.49%);
}
@media screen and (min-width: 1020px) {
  .radio-container__btn {
    height: 18px;
    width: 18px;
  }
}

.collection__navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

.collection__prev-btn,
.collection__next-btn {
  background: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  filter: invert(100%) sepia(125%) saturate(88%) hue-rotate(18deg) brightness(228%) contrast(100%);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.products {
  margin: 2rem auto;
  width: 70%;
  position: relative;
  display: flex;
}
.products__title {
  font-family: "Kumbh Sans";
  font-weight: 700;
  margin: 0;
  font-size: rem;
  color: hsl(265.71deg, 36.21%, 45.49%);
}
.products__title::before {
  content: "";
  position: absolute;
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  display: block;
  height: 1px;
  width: 100%;
}
.products__title::after {
  content: "";
  position: absolute;
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  display: block;
  height: 1px;
  width: 100%;
}
.products__discription {
  margin-bottom: 4rem;
}
.pure {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.pure__title {
  font-size: 1rem;
  padding: 1rem;
  color: hsl(265.71deg, 36.21%, 45.49%);
  text-align: center;
  font-family: "Kumbh Sans";
}

.product-card__img {
  width: 70%;
  margin: 1rem auto;
  font-family: "Kumbh Sans";
}
@media screen and (min-width: 768px) {
  .product-card__img {
    width: 36%;
  }
}
@media screen and (min-width: 1020px) {
  .product-card__img {
    width: 40%;
    height: 79%;
  }
}
@media screen and (min-width: 1440px) {
  .product-card__img {
    width: 20%;
    height: 79%;
  }
}
.product-card__img-container {
  font-family: "Kumbh Sans";
  margin: 0 auto;
  width: 100%;
  border: 1px solid #0e0e0e;
}
@media screen and (min-width: 1020px) {
  .product-card__img-container {
    width: 100%;
    height: 79%;
  }
}
.product-card__container {
  width: 100%;
  font-family: "Kumbh Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-card__copy {
  font-family: "Kumbh Sans";
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  color: rgb(110, 108, 108);
}
@media screen and (min-width: 768px) {
  .product-card__copy {
    width: 60%;
    margin: 0 auto;
  }
}
.product-card__table {
  width: 50%;
  height: 40%;
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  color: #565657;
}
@media screen and (min-width: 768px) {
  .product-card__table {
    width: 30%;
    height: 20%;
  }
}
@media screen and (min-width: 1440px) {
  .product-card__table {
    width: 14%;
    height: 79%;
  }
}
.counter-section {
  font-family: "Kumbh Sans";
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 1020px) {
  .counter-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.counter {
  width: 36%;
  border-radius: 10px;
  height: 70px;
  border: 1px solid hsl(223deg, 64%, 98%);
  background-color: hsl(223deg, 64%, 98%);
}
@media screen and (min-width: 1020px) {
  .counter {
    width: 20%;
    margin: 0 21rem 0 0;
  }
}
@media screen and (min-width: 1440px) {
  .counter {
    width: 20%;
    margin: 0 29rem 0 0;
  }
}
.counter__container {
  width: 31%;
  height: 38px;
  border-radius: 10px;
  border: 1px solid hsl(223deg, 64%, 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .counter__container {
    width: 13%;
  }
}
@media screen and (min-width: 1020px) {
  .counter__container {
    width: 8%;
  }
}
.counter__text {
  width: 22%;
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  border: none;
  text-align: center;
  color: hsl(13.85deg, 35.14%, 92.75%);
  font-weight: 700;
}
.counter__btn-plus {
  width: 12%;
  border: none;
  background-color: transparent;
  filter: invert(100%) sepia(125%) saturate(88%) hue-rotate(18deg) brightness(228%) contrast(100%);
}
.counter__btn-plus:hover {
  opacity: 0.5;
}
.counter__btn-minus {
  width: 12%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  filter: invert(100%) sepia(125%) saturate(88%) hue-rotate(18deg) brightness(228%) contrast(100%);
}
.counter__btn-minus:hover {
  opacity: 0.5;
}

.cart {
  background-color: hsl(34.38deg, 40.27%, 56.67%);
  border: none;
  margin: 1rem 0;
  width: 77%;
  height: 38px;
  display: flex;
  justify-content: center;
  margin-left: 6px;
  align-items: center;
  border-radius: 10px;
}
.cart:hover {
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .cart {
    margin: 0;
    width: 22%;
    margin-left: 12px;
  }
}
@media screen and (min-width: 1020px) {
  .cart {
    margin: 0;
    width: 14%;
    margin-left: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .cart {
    width: 10%;
  }
}

.more-discription {
  width: 90%;
  margin: auto;
}

.main-details {
  max-width: 600px;
  margin: auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(145, 148, 161, 0.5);
}

.details {
  max-width: 600px;
  margin: auto;
  border-bottom: 1px solid rgba(145, 148, 161, 0.5);
}

.summary {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
  list-style: none;
  text-transform: uppercase;
  font-family: "Kumbh Sans";
  color: hsl(265.71deg, 36.21%, 45.49%);
  padding: 1.6rem;
}
.summary:hover {
  color: #0e0e0e;
}
.summary::after {
  content: url(/assets/icons/icon-arrow.svg);
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  transition: transform 0.3s ease;
  position: absolute;
  right: 0;
}
.summary__body {
  color: #9194a1;
  font-family: "Kumbh Sans";
  text-align: center;
  padding: 1rem;
}

.details[open] .summary::after {
  content: url(/assets/icons/icon-arrow-red.svg);
  transform: rotate(180deg);
}

svg:hover {
  fill: hsl(223deg, 64%, 98%);
}

.product-section {
  width: 89%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .product-section {
    max-width: 46%;
  }
}
@media screen and (min-width: 1020px) {
  .product-section {
    max-width: 48%;
  }
}
@media screen and (min-width: 1440px) {
  .product-section {
    max-width: 26%;
  }
}

.reviews {
  width: 77%;
  margin: 0;
  font-family: "Kumbh Sans";
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .reviews {
    width: 88%;
  }
}
@media screen and (min-width: 1020px) {
  .reviews {
    width: 53%;
  }
}

.reviews span {
  margin: 0 auto;
  text-transform: capitalize;
  color: #0e0e0e;
  letter-spacing: 1px;
}

.stars_list {
  display: flex;
  list-style: none;
}

.stars_list li i {
  color: hsl(265.71deg, 36.21%, 45.49%);
  font-size: 15px;
  padding: 0 5px;
}

.form-container {
  font-family: "Kumbh Sans";
  padding: 2rem 0;
  background-color: hsl(0deg, 0%, 96.86%);
}
@media screen and (min-width: 1020px) {
  .form-container {
    width: 100%;
    margin: 0 auto;
  }
}
.form-container__title {
  font-family: "Kumbh Sans";
  font-weight: 700;
  margin: 0;
  font-size: 1.4rem;
  color: hsl(265.71deg, 36.21%, 45.49%);
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 1020px) {
  .form-container__title {
    margin: 0 auto;
  }
}
.form-container__title::before {
  content: "";
  position: absolute;
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  display: block;
  height: 1px;
  width: 80%;
}
.form-container__title::after {
  content: "";
  position: absolute;
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  display: block;
  height: 1px;
  width: 80%;
}
.form-container__copy {
  width: 90%;
  font-size: 0.91rem;
  font-weight: 300;
  text-align: center;
  color: rgb(110, 108, 108);
  letter-spacing: 0.5px;
  margin: 3rem auto 4rem;
}
@media screen and (min-width: 768px) {
  .form-container__mainContent {
    display: flex;
  }
}

.form {
  width: 80%;
  margin: 0 auto;
  margin: 0 auto;
  padding: 1rem 2rem;
}
.form__input-box {
  padding: 1rem 0;
}
.form__input-text {
  width: 100%;
  padding: 0.8rem;
  background-color: hsl(0deg, 0%, 93.33%);
  border: none;
  color: rgb(110, 108, 108);
}
.form__message-box {
  display: flex;
  flex-direction: column;
}
.form__input-textArea {
  padding: 0.8rem;
  background-color: hsl(0deg, 0%, 93.33%);
  border: none;
  resize: none;
  outline: none;
}
.form__submit-btn {
  width: 100px;
  border-radius: 0.3rem;
  background-color: transparent;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid hsl(0deg, 0%, 100%);
  font-family: "Kumbh Sans";
  font-size: 12px;
  padding: 0;
  text-transform: capitalize;
  border: none;
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  padding: 0.6rem 0.6rem;
}
.form__submit-btn:hover {
  background-color: hsl(0deg, 0%, 100%);
  border: 2px solid hsl(265.71deg, 36.21%, 45.49%);
  color: hsl(265.71deg, 36.21%, 45.49%);
}

.address {
  width: 90%;
  margin: 0 auto;
}
.address-title {
  font-size: 1.5rem;
  color: hsl(265.71deg, 36.21%, 45.49%);
}
.address-list {
  padding: 0;
  list-style: none;
}
.address-list__item {
  width: 100%;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: 1rem 0;
}
.address-list__item-icon {
  width: 1.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  height: 29px;
  background-color: hsl(265.71deg, 36.21%, 45.49%);
}
.address-list__item-copy {
  font-size: 0.91rem;
  font-weight: 300;
  color: rgb(110, 108, 108);
  letter-spacing: 0.5px;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}
.address-list__item-title {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.fa-phone, .fa-location-arrow, .fa-envelope {
  color: hsl(0deg, 0%, 100%);
}

.location {
  width: 80%;
  margin: 0 auto;
}
.location__title {
  text-align: center;
  color: hsl(265.71deg, 36.21%, 45.49%);
}
.location-card {
  width: 100%;
}
.location-card__img {
  width: 100%;
}

.about {
  width: 90%;
  font-family: "Kumbh Sans";
  margin: 0 auto;
}
.about-main {
  width: 100%;
}
.about-main__img {
  width: 100%;
}
.about-discription {
  width: 100%;
  margin: 0 auto;
}
.about-discription__title {
  width: 90%;
  font-size: 1.2rem;
  color: hsl(265.71deg, 36.21%, 45.49%);
}
.about-discription__title::before {
  content: "";
  position: absolute;
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  display: block;
  height: 1px;
  width: 90%;
}
.about-discription__title::after {
  content: "";
  position: absolute;
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  display: block;
  height: 1px;
  width: 90%;
}
.about-discription__body {
  width: 90%;
  font-size: 0.91rem;
  font-weight: 300;
  text-align: center;
  color: rgb(110, 108, 108);
  letter-spacing: 0.5px;
  margin: 3rem auto 4rem;
}
.about-card {
  margin: 0 auto;
  width: 90%;
  margin: 3rem auto;
  border: 1px solid hsl(265.71deg, 36.21%, 45.49%);
}
@media screen and (min-width: 768px) {
  .about-card {
    display: flex;
    width: 100%;
  }
}
.about-mainCard {
  width: 100%;
  text-align: center;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .about-mainCard {
    flex: 0 0 31%;
    padding: 0 1rem;
    height: 25rem;
    margin: 1rem auto 1rem;
  }
}
.about-mainCard__title {
  color: hsl(265.71deg, 36.21%, 45.49%);
}
.about-mainCard__copy {
  width: 100%;
  font-size: 0.91rem;
  font-weight: 300;
  text-align: center;
  color: rgb(110, 108, 108);
  letter-spacing: 0.5px;
  margin: 3rem auto 4rem;
}
.about-mainCard__btn {
  border-radius: 0.3rem;
  font-family: "Kumbh Sans";
  font-size: 12px;
  padding: 0;
  text-transform: capitalize;
  border: 1px solid;
  background-color: transparent;
  color: hsl(265.71deg, 36.21%, 45.49%);
  cursor: pointer;
  padding: 0.6rem 0.6rem;
  width: 60%;
}
.about-mainCard__btn:hover {
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  color: hsl(0deg, 0%, 100%);
}

.shoping-cart {
  padding: 1rem;
  margin: auto;
  width: 80%;
  height: 100vh;
  background-color: hsl(13.85deg, 35.14%, 92.75%);
  font-family: "Kumbh Sans";
  position: absolute;
  top: 80px;
  left: 20%;
  z-index: -1;
  transform: translateX(400px);
  transition: transform 1s ease;
}
@media screen and (min-width: 768px) {
  .shoping-cart {
    margin: 0 auto;
    width: 42%;
    top: 80px;
    left: 446px;
    transform: translateX(600px);
  }
}
@media screen and (min-width: 1020px) {
  .shoping-cart {
    transform: translateX(440px);
    width: 32%;
    top: 99.6%;
    /* right: -102%; */
    left: 68%;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .shoping-cart {
    transform: translateX(630px);
    top: 99.6%;
  }
}
.shoping-cart__popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.shoping-cart__titlecart {
  font-weight: 900;
  color: hsl(265.71deg, 36.21%, 45.49%);
  padding: 1rem 0 1.5rem 1.5rem;
}
.shoping-cart__hr {
  display: block;
  width: 100%;
  height: 0.81px;
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  color: hsl(265.71deg, 36.21%, 45.49%);
  margin: 0;
  opacity: 0.3;
}
.shoping-cart__items {
  padding: 0;
}
.shoping-cart__subTotal {
  font-size: 1.2rem;
}
.shoping-cart__text {
  font-weight: 700 !important;
}
.shoping-cart__price {
  margin-left: 0.5rem;
  color: #0e0e0e;
}
.shoping-cart__span {
  margin-left: 0.5rem;
}
.shoping-cart__main-cont {
  display: flex;
  flex-direction: column;
}
.shoping-cart__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.shoping-cart__img-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.shoping-cart__text-container {
  margin: 1rem;
}
.shoping-cart__title {
  font-size: 1.1rem;
  font-weight: 700 !important;
  color: hsl(265.71deg, 36.21%, 45.49%);
  font-weight: 300;
}
.shoping-cart__text {
  color: hsl(265.71deg, 36.21%, 45.49%);
  font-weight: 300;
}
.shoping-cart__span {
  font-weight: 700;
  color: #0e0e0e;
}
.shoping-cart__img {
  width: 69px;
  border-radius: 5px;
}
.shoping-cart__counter {
  margin-bottom: 1rem;
}
.shoping-cart__btn__minus, .shoping-cart__btn__plus {
  text-align: center;
  border: 1px solid hsl(265.71deg, 36.21%, 45.49%);
}
.shoping-cart__countOfProduct {
  border: 1px solid hsl(265.71deg, 36.21%, 45.49%);
  padding: 0 0.4rem;
}
.shoping-cart__checkOutBtn {
  background-color: hsl(265.71deg, 36.21%, 45.49%);
  border: none;
  border-radius: 7px;
  padding: 0.6rem;
  color: hsl(0deg, 0%, 100%);
  font-weight: 900;
  margin: 1.5rem;
  font-size: 0.9rem;
}
.shoping-cart__empty {
  margin: 0 auto;
  padding: 1rem;
  text-transform: capitalize;
  color: rgb(110, 108, 108);
  font-weight: 300;
  text-align: center;
}

.popup-show {
  position: absolute;
  width: 20px;
  height: 15px;
  text-align: center;
  top: 27px;
  color: white;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 50%;
  font-weight: 700;
  z-index: 4;
  display: block;
}

.buyItem {
  list-style: none;
  padding: 1rem;
}

.buyItem img {
  width: 50px;
  height: 50px;
}

.pay-options {
  width: 70%;
  margin: 0 auto;
}
.pay-options__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 100%;
}

.fa-paypal, .fa-apple-pay, .fa-google-pay, .fa-cc-visa {
  color: hsl(265.71deg, 36.21%, 45.49%);
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.removeShopingCart {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}/*# sourceMappingURL=about.css.map */