/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
      ========================================================================== */
/**
    * Remove the margin in all browsers.
    */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/**
    * Render the `main` element consistently in IE.
    */
main {
  display: block;
}

/**
    * Correct the font size and margin on `h1` elements within `section` and
    * `article` contexts in Chrome, Firefox, and Safari.
    */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
      ========================================================================== */
/**
    * 1. Add the correct box sizing in Firefox.
    * 2. Show the overflow in Edge and IE.
    */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
      ========================================================================== */
/**
    * Remove the gray background on active links in IE 10.
    */
a {
  background-color: transparent;
}

/**
    * 1. Remove the bottom border in Chrome 57-
    * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
    */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
    * Add the correct font weight in Chrome, Edge, and Safari.
    */
b,
strong {
  font-weight: bolder;
}

/**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
    * Add the correct font size in all browsers.
    */
small {
  font-size: 80%;
}

/**
    * Prevent `sub` and `sup` elements from affecting the line height in
    * all browsers.
    */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
      ========================================================================== */
/**
    * Remove the border on images inside links in IE 10.
    */
img {
  border-style: none;
}

/* Forms
      ========================================================================== */
/**
    * 1. Change the font styles in all browsers.
    * 2. Remove the margin in Firefox and Safari.
    */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
    * Show the overflow in IE.
    * 1. Show the overflow in Edge.
    */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
    * Remove the inheritance of text transform in Edge, Firefox, and IE.
    * 1. Remove the inheritance of text transform in Firefox.
    */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
    * Correct the inability to style clickable types in iOS and Safari.
    */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
    * Remove the inner border and padding in Firefox.
    */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
    * Restore the focus styles unset by the previous rule.
    */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
    * Correct the padding in Firefox.
    */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
    * 1. Correct the text wrapping in Edge and IE.
    * 2. Correct the color inheritance from `fieldset` elements in IE.
    * 3. Remove the padding so developers are not caught out when they zero out
    *    `fieldset` elements in all browsers.
    */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
    * Add the correct vertical alignment in Chrome, Firefox, and Opera.
    */
progress {
  vertical-align: baseline;
}

/**
    * Remove the default vertical scrollbar in IE 10+.
    */
textarea {
  overflow: auto;
}

/**
    * 1. Add the correct box sizing in IE 10.
    * 2. Remove the padding in IE 10.
    */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
    * Correct the cursor style of increment and decrement buttons in Chrome.
    */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
    * 1. Correct the odd appearance in Chrome and Safari.
    * 2. Correct the outline style in Safari.
    */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
    * Remove the inner padding in Chrome and Safari on macOS.
    */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
    * 1. Correct the inability to style clickable types in iOS and Safari.
    * 2. Change font properties to `inherit` in Safari.
    */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
      ========================================================================== */
/*
    * Add the correct display in Edge, IE 10+, and Firefox.
    */
details {
  display: block;
}

/*
    * Add the correct display in all browsers.
    */
summary {
  display: list-item;
}

/* Misc
      ========================================================================== */
/**
    * Add the correct display in IE 10+.
    */
template {
  display: none;
}

/**
    * Add the correct display in IE 10.
    */
[hidden] {
  display: none;
}

.container {
  padding: 2rem;
  margin: auto;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Avenir";
  src: url("./../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "satisfy-Regular";
  src: url(../../../assets/fonts/Satisfy-Regular.ttf);
  font-weight: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
/*******************
* MEDIA QUERIES
********************/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Avenir";
  src: url("./../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "satisfy-Regular";
  src: url(../../../assets/fonts/Satisfy-Regular.ttf);
  font-weight: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
/***********************
* COLORS
************************/
.header {
  position: relative;
  background-color: #d9d0cb;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header__logo {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  position: relative;
  margin: 0;
  padding: 0;
  width: 166px;
}
.header__logo-link {
  font-family: "satisfy-Regular";
  font-weight: 900;
  font-style: italic;
  padding: 0;
  margin: 0;
  color: #5e504c;
  font-size: 20px;
  font-weight: 900 !important;
  text-transform: capitalize;
  text-decoration: none;
}
.header__logo-subtitle {
  position: absolute;
  top: 100%;
  top: 70%;
  right: 29%;
}
.header__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 35px;
  height: 60px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.header__toggle-burger {
  padding: 0;
  margin: 0;
  position: relative;
  width: 17px;
  height: 2px;
  background-color: #5e504c;
  border-radius: 5px;
  box-shadow: 0 2px 5px rbga(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.header__toggle-burger::before, .header__toggle ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 2px;
  background-color: #5e504c;
  box-shadow: 0 2px 5px rbga(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.header__toggle-burger::before {
  transform: translateY(-5px);
}
.header__toggle-burger::after {
  transform: translateY(5px);
}

.header__toggle.open .header__toggle-burger {
  transform: translateX(-50px);
  background-color: transparent;
  box-shadow: none;
}

.header__toggle.open .header__toggle-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.header__toggle.open .header__toggle-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.navbar {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  padding: 0;
  top: 100%;
  left: 0;
  background-color: #d9d0cb;
  height: 100vh;
  z-index: 1;
  -webkit-animation: slideout 1s ease-in-out;
          animation: slideout 1s ease-in-out;
  display: none;
}
.navbar__list {
  width: 65%;
  list-style: none;
  padding: 1rem;
  margin-top: 2rem;
}
.navbar__list__item {
  margin-top: 2rem;
}
.navbar__list__item-link {
  font-family: "satisfy-Regular";
  font-weight: 900;
  font-style: italic;
  font-size: 17px;
  letter-spacing: 1.5px;
  color: #5e504c;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
}
.navbar__list__item-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #5e504c;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navbar__list__item-link::after {
  bottom: 0;
}
.navbar__list__item-link:hover::after {
  transform: scaleX(1);
}
.navbar__submenu {
  display: inherit;
}
.navbar__submenu__item {
  list-style: none;
  padding-top: 1rem;
  text-transform: capitalize;
}
.navbar__submenu__item-link {
  color: #5e504c;
  font-family: "satisfy-Regular";
  font-weight: 900;
  font-style: italic;
  font-size: 17px;
  letter-spacing: 1.5px;
  color: #5e504c;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
}
.navbar__submenu__item-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #5e504c;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navbar__submenu__item-link::after {
  bottom: 0;
}
.navbar__submenu__item-link:hover::after {
  transform: scaleX(1);
}
.navbar__social {
  width: 130px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.hide {
  display: none;
}

.show-popuptext {
  display: block;
}

.show {
  display: block;
}
@media screen and (min-width: 1020px) {
  .show {
    display: none;
  }
}

.move-in {
  display: block;
  -webkit-animation: slidein 0.5s;
          animation: slidein 0.5s;
}
@-webkit-keyframes slidein {
  from {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slidein {
  from {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(0);
  }
}

.move-out {
  -webkit-animation: slideout 1s ease-in-out;
          animation: slideout 1s ease-in-out;
}
@-webkit-keyframes slideout {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400px);
  }
}
@keyframes slideout {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400px);
  }
}

.overlay::before {
  content: "";
  opacity: 0.77;
  width: 70.6%;
  height: 100vh;
  display: block;
  right: 0;
  top: 100%;
  position: absolute;
  background: hsl(0deg, 0%, 100%);
  z-index: 1;
  -webkit-animation: slidex 0.5s;
          animation: slidex 0.5s;
}
@-webkit-keyframes slidex {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(400);
  }
}
@keyframes slidex {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(400);
  }
}
@media screen and (min-width: 1020px) {
  .overlay::before {
    display: none;
  }
}

.hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  background-color: rgb(226, 213, 206);
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(../../../assets/images/Shorts23.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  opacity: 0.3;
}
.hero__title {
  font-family: "satisfy-Regular";
  font-weight: 900;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.images {
  display: flex;
  flex-wrap: wrap;
}
.images__image {
  height: 100%;
}
.images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media screen and (min-width: 1020px) {
  .images__image {
    width: auto;
    flex: 1;
  }
}/*# sourceMappingURL=contact.css.map */